In [1]:
# Importing data
import pandas as pd
dataset = pd.read_csv("D:\Bitan\IIAS\python_project.csv")
print(dataset)

           open       close         low        high
0    123.430000  125.839996  122.309998  126.250000
1    125.239998  119.980003  119.940002  125.540001
2    116.379997  114.949997  114.930000  119.739998
3    115.480003  116.620003  113.500000  117.440002
4    117.010002  114.970001  114.089996  117.330002
..          ...         ...         ...         ...
246  123.089996  124.489998  122.709999  124.660004
247  124.570000  124.279999  124.010002  124.900002
248  124.300003  122.379997  121.900002  124.300003
249  122.449997  122.169998  121.599998  123.070000
250  122.589996  122.279999  121.389999  123.559998

[251 rows x 4 columns]

In [2]:
# Calculating statistical parameters
dataset.describe()

             open       close         low        high
count  251.000000  251.000000  251.000000  251.000000
mean   121.943227  121.982988  120.617211  123.044781
std      5.451107    5.428375    5.701749    5.181789
min    105.629997  107.129997  104.110001  109.260002
25%    118.535000  118.729999  117.274998  120.289997
50%    123.239998  123.410004  122.050003  124.449997
75%    125.500000  125.444999  124.095001  126.324997
max    132.449997  132.770004  131.119995  133.399994

In [3]:
print("SKEWNESS : ")
print()
print(dataset.skew())
print()
print("MEDIAN : ")
print()
print(dataset.median())
print()
print("MODE : ")
print()
print(dataset.mode())

SKEWNESS :

open    -0.713374
close   -0.723031
low     -0.741546
high    -0.672788
dtype: float64

MEDIAN :

open     123.239998
close    123.410004
low      122.050003
high     124.449997
dtype: float64

MODE :

          open       close         low        high
0   124.000000  121.480003  108.320000  112.110001
1   125.099998  124.000000  109.639999         NaN
2          NaN         NaN  111.010002         NaN
3          NaN         NaN  112.589996         NaN
4          NaN         NaN  115.930000         NaN
5          NaN         NaN  121.199997         NaN
6          NaN         NaN  121.459999         NaN
7          NaN         NaN  121.949997         NaN
8          NaN         NaN  122.110001         NaN
9          NaN         NaN  122.599998         NaN
10         NaN         NaN  122.680000         NaN
11         NaN         NaN  122.750000         NaN
12         NaN         NaN  122.860001         NaN
13         NaN         NaN  122.870003         NaN
14         NaN         NaN  123.160004         NaN
15         NaN         NaN  123.589996         NaN
16         NaN         NaN  124.070000         NaN
17         NaN         NaN  124.120003         NaN
18         NaN         NaN  125.419998         NaN